name: Continuous Integration
permissions:
  contents: read
  
on:
  push:
    branches: [ master, "*" ]
    tags: [ "*" ]
  pull_request:

jobs:
  R-CMD-check:
    name: R ${{ matrix.r }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: windows-latest, r: 'release', integration_tests: 1 }
          - { os: macos-latest, r: 'release', integration_tests: 1 }
          #- { os: ubuntu-latest, r: 'devel',   integration_tests: 0 }
          #- { os: ubuntu-latest, r: 'release', integration_tests: 0 }
          #- { os: ubuntu-latest, r: 'oldrel',  integration_tests: 0 }
          # exotic architectures
          #- {os: ubuntu-22.04-arm, arch: aarch64, r: 'release', integration_tests: 0}
          - {os: macos-15-intel, arch: x64, r: 'release', integration_tests: 1}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      INTEGRATION_TESTS: ${{ matrix.integration_tests }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.r }}

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: rcmdcheck
          needs: check

      - name: Check package
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
